{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions"
        ]
      },
      "loose": false,
      "modules": false,
      "useBuiltIns": true,
      "include": [],
      "exclude": [
        "transform-regenerator",
        "transform-async-to-generator"
      ]
    }]
  ],
  "env": {
    "test": {
      "presets": [["env", {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        },
        "include": [],
        "exclude": [
          "transform-regenerator",
          "transform-async-to-generator"
        ]
      } ]]
    }
  },
  "plugins": [
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}
